<div>
	<a href="/"><img class="header-logo" src="/images/logo/horizontal-transparent.svg" alt="LRD Logo"></a>
</div>

<div class="hamburger-icon" onclick="hamburgerIconClick()">
	<div class="bar1"></div>
	<div class="bar2"></div>
	<div class="bar3"></div>
</div>

<div class="desktop-menu">
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li>|</li>
			<li><a href="/background.html">Background</a></li>
			<li>|</li>
			<li><a href="/portfolio.html">Portfolio</a></li>
			<li>|</li>
			<li><a href="https://github.com/loganrdavis"><img src="/images/github-logo.png" alt="Github Logo"
						style="max-width: unset;"></a>
			</li>
			<li><a href="https://www.linkedin.com/in/loganrdavis/"><img src="/images/linked-in-logo.png"
						alt="LinkedIn Logo" style="max-width: unset;"></a></li>
			<li><a href="https://www.youtube.com/user/StudiosBOS"><img src="/images/youtube-logo.png" alt="YouTube Logo"
						style="max-width: unset;"></a></li>
			<li><a href="https://www.facebook.com/loganrickydavis"><img src="/images/facebook-logo.png" alt="Facebook Logo"
						style="max-width: unset;"></a></li>
			<li><a href="/documents/logan-davis-resume.pdf"><img src="/images/resume.png" alt="Resume Logo" style="max-width: unset;"></a>
			</li>
		</ul>
	</nav>
</div>

<div class="mobile-menu-container" id="mobile-menu-container">
	<div class="mobile-menu-outside" onclick="hamburgerIconClick()"></div>
	<div class="mobile-menu" id="mobile-menu">
		<nav class="mobile-menu-nav">
			<ul>
				<li class="mobile-menu-li"><a href="/">Home</a></li>
				<li class="mobile-menu-li"><a href="/background.html">Background</a></li>
				<li class="mobile-menu-li"><a href="/portfolio.html">Portfolio</a></li>
				<li class="mobile-menu-li"><a href="https://github.com/loganrdavis"><img src="/images/github-logo.png"
							alt="Github Logo" style="max-width: unset;"></a>
				</li>
				<li class="mobile-menu-li"><a href="https://www.linkedin.com/in/loganrdavis/"><img
							src="/images/linked-in-logo.png" alt="LinkedIn Logo" style="max-width: unset;"></a></li>
				<li class="mobile-menu-li"><a href="https://www.youtube.com/user/StudiosBOS"><img src="/images/youtube-logo.png"
							alt="YouTube Logo" style="max-width: unset;"></a></li>
				<li class="mobile-menu-li"><a href="https://www.facebook.com/loganrickydavis"><img alt="Facebook Logo"
							src="/images/facebook-logo.png" style="max-width: unset;"></a></li>
				<li class="mobile-menu-li"><a href="/documents/logan-davis-resume.pdf"><img src="/images/resume.png" alt="Resume Logo"
							style="max-width: unset;"></a></li>
			</ul>
		</nav>
	</div>
</div>

<script> function hamburgerIconClick() { document.getElementById('headerContent').classList.toggle("hamburger-icon-click"); }</script>