<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152621464-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-152621464-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logan R Davis | Software Engineer</title>
    <link rel="stylesheet" href="/root/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=B612|Muli&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="title">
                <img src="/images/logan/2019-professional-casual.png" class="main-image">
                <div>
                    <h1>Logan Ricky Davis</h1>
                    <hr>
                    <h2>Software Engineer</h2>
                </div>
                <div class="social-links">
                    <a href="https://github.com/LoganRickyDavis"><img src="/images/companies/github-logo.png"></a>
                    <a href="https://www.linkedin.com/in/loganrickydavis/"><img
                            src="/images/companies/linked-in-logo.png"></a>
                    <a href="https://www.youtube.com/user/StudiosBOS"><img src="/images/companies/youtube-logo.png"></a>
                    <a href="https://www.facebook.com/loganrickydavis"><img
                            src="/images/companies/facebook-logo.png"></a>
                    <a href="/files/2019-3.pdf"><img src="/images/icons/resume.png"></a>
                    <br>
                    <a href="mailto:logan@loganrdavis.com">Logan@LoganRDavis.com</a>
                </div>
            </div>
        </header>

        <div class="container">
            <div>
                <h3>About Me</h3>
                <p>I am a Fluent programmer and despite my University courses, I have learned most of what I know from
                    experience in projects and online resources. I am a quick learner and focused worker who has to stay
                    busy.
                    I have experience managing people and excel at delegation and time management. I enjoy new
                    challenges
                    and branching out to new technologies.
                    <br><br>
                    I started my own company as the sole software and hardware engineer. To summarize the company, I
                    develop, and my partner sells technology devices and services such as wireless RF call buttons and
                    temperature sensors. We then provide a web app that allows for analysis and setup of email and
                    texting
                    notifications based on user preferences. As the sole technology provider, I have experience
                    developing
                    database schemas, restful APIs, microcontroller processes, multithreaded hub controller units, and
                    front-end user experiences. I designed PCB schematics using Eagle CAD and worked with foreign
                    manufacturers to acquire parts. I have also worked with external services such as SendGrid, Twilio,
                    and Google Cloud to provide an all-encompassing service.
                </p>
                <br>
                <h3>Programming Experience</h3>
                <p>
                    Languages (can learn any) specifically worked with:<br>
                    Javascript | Python | C++ | Java | C# | SQL | NOSQL
                    <br><br>
                    Familiar Technologies:<br>
                    Google Cloud | Node.js | React Native | Corvid | jQuery
                    <br><br>
                    Applications Utilized:<br>
                    Visual Studio Code | PyCharm | Visual Studio | Android Studio | Eclipse | Notepad++ | Wordpress
                </p>
                <br>
                <h3></h3>
                <p>
                </p>
                <br>
                <h3>Skill Set</h3>
                <p>
                    Skilled in: Programming, low power/resource software development, creating server-side APIs,
                    management,
                    training, system diagnoses, budgeting, delegation.
                </p>
            </div>
            <div class="education">
                <h2>Education</h2>
                <br>
                <div class="education-item">
                    <h3>Bachelor's Degree</h3>
                    <div class="education-title">
                        <img src="/images/companies/uark-logo.jpg">&nbsp;
                        <div>
                            <h4>University of Arkansas</h4>
                            <h5>Computer Science</h5>
                        </div>
                    </div>
                    <p>2016 - 2019</p>
                </div>
                <br>
                <div class="education-item">
                    <h3>Minor</h3>
                    <div class="education-title">
                        <img src="/images/companies/uark-logo.jpg">&nbsp;
                        <div>
                            <h4>University of Arkansas</h4>
                            <h5>Information Systems</h5>
                        </div>
                    </div>
                    <p>2019 - 2019</p>
                </div>
            </div>
            <div class="work">
                <div class="work-item">
                    <div class="work-title">
                        <img src="/images/companies/lss-logo-horizontal.png">
                        <h2>Co-Founder & Chief Technology Officer</h2>
                        <h4>Labor Saver Solutions</h4>
                        <h4>March 2019 - Present</h4>
                    </div>
                    <br>
                    <p>
                        As the co-founder I contributed to the company's very beginning in design, financing, and
                        vision.Starting the company from a need, I created our products to be solutions to problems. As
                        CTO I am responsible for all things tech. I design our PCB schematics, program our units and
                        backend, build our databases, generate our user reports, and more.
                        <br>
                        <a href="https://www.laborsaver.solutions">www.LaborSaver.Solutions</a>
                    </p>
                </div>
                <div class="work-item">
                    <div class="work-title">
                        <img src="/images/companies/lokomotion.png">
                        <h2>Mechanic Manager</h2>
                        <h4>Lokomotion Family Fun Park</h4>
                        <h4>March 2016 - August 2019</h4>
                    </div>
                    <br>
                    <p>
                        I received on the job mechanical training and passed Honda TACS Technician Level courses. As the
                        Mechanic Manager, I have been responsible for lowering monthly maintenance costs by half. I
                        troubleshoot and repair multi-thousand dollar games and attractions and manage/train apprentice
                        mechanics.
                        <br> ​
                        <a href="https://www.lokomotion.com">www.Lokomotion.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>