<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LoganRDavis</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/root/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=B612|Muli&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="title">
                <img src="/images/logan/2019-professional-casual.png" class="main-image">
                <div>
                    <h1>Logan Ricky Davis</h1>
                    <hr>
                    <h2>Software Engineer</h2>
                </div>
                <div class="social-links">
                    <a><img src="/images/companies/github-logo.png"></a>
                    <a><img src="/images/companies/linked-in-logo.png"></a>
                    <a><img src="/images/companies/youtube-logo.png"></a>
                    <a><img src="/images/companies/facebook-logo.png"></a>
                    <a>Logan@LoganRDavis.com</a>
                </div>
            </div>
        </header>

        <div class="container">
            <h3>About Me</h3>
            <p>I am currently studying Computer Science at the University of Arkansas and plan to graduate early in the
                fall of 2019. I am a fluent programmer and despite my University courses, I have learned most of what I
                know from experience in projects and online resources. I am a quick learner and focused worker who has
                to stay busy. I have experience managing people and excel at delegation and apprentice training.
                <br><br>
                I started my own company as the sole software and hardware engineer. To summarize the company, I
                develop, and my partner sells technology devices and services such as wireless RF call buttons and
                temperature sensors. We then provide a web app that allows for analysis and setup of email and texting
                notifications based on user preferences. As the sole technology provider, I have experience developing
                database schemas, restful APIs, microcontroller processes, multithreaded hub controller units, and
                front-end user experiences. I designed PCB schematics using Eagle CAD and worked with foreign
                manufacturers to acquire parts. I have also worked with external services such as SendGrid, Twilio, and
                Google Cloud to provide an all-encompassing service.
                <a href="https://www.laborsaver.solutions">www.LaborSaver.Solutions</a>
                <br><br>
                My first job led from a simple attendant position to a managerial mechanical one. I received on the job
                training as well as Honda TACS training in order to learn small engine and go kart repair. I can
                completely disassemble a small engine or go kart and reassemble. I have also acquired a skill for
                electrical wiring and system diagnosis. This position allowed me to become a manager overseeing
                procurement of parts, budget management, managing apprentice mechanics, as well as making impactful
                operation decisions.
            </p>
            <br>
            <h3>Programming Experience</h3>
            <p>
                Languages (can learn any) specifically worked with:<br>
                Javascript | Python | C++ | Java | C# | SQL | NOSQL
                <br><br>
                Familiar Technologies:<br>
                Google Cloud | Node.js | React Native | Corvid | jQuery
                <br><br>
                Applications Utilized:<br>
                Visual Studio Code | PyCharm | Visual Studio | Android Studio | Eclipse | Notepad++ | Wordpress
            </p>
            <br>
            <h3></h3>
            <p>
            </p>
            <br>
            <h3>Skill Set</h3>
            <p>
                Skilled in: Programming, low power/resource software development, creating server-side APIs, management,
                training, system diagnoses, budgeting, delegation.
            </p>
        </div>
    </div>
</body>

</html>